body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Color verde */
    color: white; /* Texto blanco */
    text-align: center;
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049; /* Color verde más oscuro al pasar el mouse */
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}